@font-face {
    font-family: 'LotteMartDream';
    font-style: normal;
    font-weight: 800;
    src: url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamMedium.woff2') format('woff2'), url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamMedium.woff') format('woff');
  }
button:hover {
    cursor: pointer;
}
body::-webkit-scrollbar { 
    display: none; 
}
body,
html {
    font-family: 'LotteMartDream';
    margin: 0;
}
p,div,button,input{
    font-family: 'LotteMartDream';
}
body{
    overflow: hidden;
}
#wrap {
    display: table;
    height: 100%;
    text-align: center;
    margin: 0 auto;
}

#content {
    height: 100%;
    display: table-cell;
    vertical-align: middle;
}

#first_div {
    margin: 0 auto;
    background-color: white;
    text-align: center;
}

#first_div > img {
    margin: 30px auto;
    width: 50%;
}
.input-wrap{
    margin-bottom: 15px;
}
.input-label{
    width: 60px;
    display: inline-block;
}
#naverIdLogin img, #kakao-login img{
    width: 50%;
    height: auto;
    margin-bottom: 15px;
}
#login_form .login_input{
    height: 30px;
    width: 180px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 3px;
}
#submit_btn{
    margin: 0;
    width: 50%;
    height: 35px;
    background-color: #4c80f1;
    color: white;
    border: none;
    color: white;
    border-radius: 3px;
    cursor: pointer;
    font-size: 13px
}
#go_signup{
    font-size: 13px;
    margin: 20px 0;
}
#first_div{
    width: 320px;
    border-radius: 3px;
}

@media screen and (min-width: 500px) and (max-width: 800px) {
    #first_div {
        width: 500px;
    }
    #submit_btn{
        font-size: 15px
    }
    #go_signup{
        font-size: 15px;
    }
}

@media screen and (min-width: 800px) {
    #first_div {
        width: 600px;
    }
    #submit_btn{
        width: 40%;
    }
    #naverIdLogin img, #kakao-login img{
        width: 40%;
        margin-bottom: 20px;
    }
}