.container{
    background-color: #efefef;
    padding: 50px 0;
}
@media screen and (min-width: 360px) and (max-width: 500px) {
    #wrap {
        display: table;
        height: 100%;
        text-align: center;
        margin: 0 auto;
    }

    #content {
        height: 100%;
        display: table-cell;
        vertical-align: middle;
    }

    #first_div {
        width: 300px;
        margin: 0 auto;
        background-color: #efefef;
        text-align: center;
    }


    #signup_form {
        vertical-align: middle;
        max-width: 90%;
        margin: 0 auto;
        background-color: white;
        height: 200px;
    }

    #user_name {
        vertical-align: middle;
        margin-top: 5%;
        background-color: #efefef;
        height: 30px;
        width: 70%;
        cursor: pointer;
        color: black;
        border-radius: 10px;
        box-shadow: 5px 5px 5px;
    }

    #user_name:focus {
        border: 1px solid aqua;
        border-radius: 10px;
    }

    #password {
        cursor: pointer;
        background-color: #efefef;
        margin-top: 5%;
        height: 30px;
        width: 70%;
        border-radius: 10px;
        box-shadow: 5px 5px 5px;
    }

    #password:focus {
        border: 1px solid aqua;
        border-radius: 10px;
    }

    #submit_btn {
        vertical-align: middle;
        cursor: pointer;
        margin-top: 5%;
        height: 30px;
        width: 80%;
        border-radius: 5px;
        border: 1px solid #efefef;
        background-color: deepskyblue;
        font-size: 15px;
        font-family: "돋움", dotum, "굴림", gulim, arial, helvetica, sans-serif;
        box-shadow: 5px 5px 5px;
    }

    #signup_text {
        cursor: pointer;
    }

    #hr {
        width: 80%;
        margin-bottom: 10px;
    }

    .check-img {
        height: 20px;
        margin-top: 10px;
        display: none;
    }

    .nocheck-img {
        margin: 0 auto;
        height: 20px;

    }
    #check_img_div1{
        display: inline-flex;
        width : 20px;
        height: 20px;
    }
    #check_img_div2{
        display: inline-flex;
    }
    #padding_val{
       height: 30px;
    }
}

@media screen and (min-width: 500px) and (max-width: 800px) {
    #wrap {
        display: table;
        height: 100%;
        text-align: center;
        margin: 0 auto;
    }

    #content {
        height: 100%;
        display: table-cell;
        vertical-align: middle;
    }

    #first_div {
        width: 400px;
        margin: 0 auto;
        background-color: white;
        text-align: center;
    }


    #signup_form {
        vertical-align: middle;
        max-width: 90%;
        margin: 0 auto;
        background-color: white;
        height: 250px;
    }

    #user_name {
        vertical-align: middle;
        margin-top: 5%;
        background-color: #efefef;
        height: 50px;
        width: 70%;
        cursor: pointer;
        color: black;
        border-radius: 10px;
        box-shadow: 5px 5px 5px;
    }

    #user_name:focus {
        border: 1px solid aqua;
        border-radius: 10px;
    }

    #password {
        cursor: pointer;
        background-color: #efefef;
        margin-top: 5%;
        height: 50px;
        width: 70%;
        border-radius: 10px;
        box-shadow: 5px 5px 5px;
    }

    #password:focus {
        border: 1px solid aqua;
        border-radius: 10px;
    }

    #submit_btn {
        vertical-align: middle;
        cursor: pointer;
        margin-top: 5%;
        height: 50px;
        width: 80%;
        border-radius: 5px;
        border: 1px solid #efefef;
        background-color: deepskyblue;
        font-size: 15px;
        font-family: "돋움", dotum, "굴림", gulim, arial, helvetica, sans-serif;
        box-shadow: 5px 5px 5px;
    }

    #signup_text {
        cursor: pointer;
    }

    #hr {
        width: 80%;
        margin-bottom: 10px;
    }

    .check-img {
        height: 20px;
        margin-top: 10px;
        display: none;
    }

    .nocheck-img {
        margin: 0 auto;
        height: 20px;

    }
    #check_img_div1{
        display: inline-flex;
        width : 20px;
        height: 20px;
    }
    #check_img_div2{
        display: inline-flex;
    }
}

@media screen and (min-width: 800px) and (max-width : 1200px) {
    #wrap {
        display: table;
        height: 100%;
        text-align: center;
        margin: 0 auto;
    }

    #content {
        height: 100%;
        display: table-cell;
        vertical-align: middle;
    }

    #first_div {
        width: 600px;
        margin: 0 auto;
        background-color: white;
        text-align: center;
    }


    #signup_form {
        vertical-align: middle;
        max-width: 90%;
        margin: 0 auto;
        background-color: white;
        height: 250px;
    }

    #user_name {
        vertical-align: middle;
        margin-top: 5%;
        background-color: #efefef;
        height: 50px;
        width: 70%;
        cursor: pointer;
        color: black;
        border-radius: 10px;
        box-shadow: 5px 5px 5px;
    }

    #user_name:focus {
        border: 1px solid aqua;
        border-radius: 10px;
    }

    #password {
        cursor: pointer;
        background-color: #efefef;
        margin-top: 5%;
        height: 50px;
        width: 70%;
        border-radius: 10px;
        box-shadow: 5px 5px 5px;
    }

    #password:focus {
        border: 1px solid aqua;
        border-radius: 10px;
    }

    #submit_btn {
        vertical-align: middle;
        cursor: pointer;
        margin-top: 5%;
        height: 50px;
        width: 80%;
        border-radius: 5px;
        border: 1px solid #efefef;
        background-color: deepskyblue;
        font-size: 15px;
        font-family: "돋움", dotum, "굴림", gulim, arial, helvetica, sans-serif;
        box-shadow: 5px 5px 5px;
    }

    #signup_text {
        cursor: pointer;
    }

    #hr {
        width: 80%;
        margin-bottom: 10px;
    }

    .check-img {
        height: 20px;
        margin-top: 10px;
        display: none;
    }

    .nocheck-img {
        margin: 0 auto;
        height: 20px;

    }
    #check_img_div1{
        display: inline-flex;
        width : 20px;
        height: 20px;
    }
    #check_img_div2{
        display: inline-flex;
    }
}

@media screen and (min-width: 1200px) {
    #wrap {
        display: table;
        height: 100%;
        text-align: center;
        margin: 0 auto;
    }

    #content {
        height: 100%;
        display: table-cell;
        vertical-align: middle;
    }

    #first_div {
        width: 600px;
        margin: 0 auto;
        background-color: white;
        text-align: center;
    }


    #signup_form {
        vertical-align: middle;
        max-width: 90%;
        margin: 0 auto;
        background-color: white;
        height: 250px;
    }

    #user_name {
        vertical-align: middle;
        margin-top: 5%;
        background-color: #efefef;
        height: 50px;
        width: 70%;
        cursor: pointer;
        color: black;
        border-radius: 10px;
        box-shadow: 5px 5px 5px;
    }

    #user_name:focus {
        border: 1px solid aqua;
        border-radius: 10px;
    }

    #password {
        cursor: pointer;
        background-color: #efefef;
        margin-top: 5%;
        height: 50px;
        width: 70%;
        border-radius: 10px;
        box-shadow: 5px 5px 5px;
    }

    #password:focus {
        border: 1px solid aqua;
        border-radius: 10px;
    }

    #submit_btn {
        vertical-align: middle;
        cursor: pointer;
        margin-top: 5%;
        height: 50px;
        width: 80%;
        border-radius: 5px;
        border: 1px solid #efefef;
        background-color: deepskyblue;
        font-size: 15px;
        font-family: "돋움", dotum, "굴림", gulim, arial, helvetica, sans-serif;
        box-shadow: 5px 5px 5px;
    }

    #signup_text {
        cursor: pointer;
    }

    #hr {
        width: 80%;
        margin-bottom: 10px;
    }

    .check-img {
        height: 20px;
        margin-top: 10px;
        display: none;
    }

    .nocheck-img {
        margin: 0 auto;
        height: 20px;

    }
    #check_img_div1{
        display: inline-flex;
        width : 20px;
        height: 20px;
    }
    #check_img_div2{
        display: inline-flex;
    }
}