@font-face {
    font-family: 'LotteMartDream';
    font-style: normal;
    font-weight: 800;
    src: url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamMedium.woff2') format('woff2'), url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamMedium.woff') format('woff');
  }
button:hover {
    cursor: pointer;
}
body::-webkit-scrollbar { 
    display: none; 
}
.tour-info::-webkit-scrollbar { 
    display: none; 
}
body,
html {
    font-family: 'LotteMartDream';
    margin: 0;
}
p,div,button,input{
    font-family: 'LotteMartDream';
}
.container{
    background-color: #efefef;
    padding: 50px 0;
}
#signup_form{
    padding: 30px;
}

#signup_form input{
    margin: 20px 0;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 3px;
}

#first_div {
    width: 300px;
    margin: 0 auto;
    background-color: white;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
}
#submit_btn {
    cursor: pointer;
    height: 40px !important;
    width: 100%;
    border: 1px solid #efefef;
    background-color: #4c80f1;
    font-size: 15px;
    color: white;
    border-radius: 3px;
}
.member-data{
    width: 300px;
}

.check-img{
    height: 17px;
}
.okcheck-img {
    height: 17px;
    display: none;
}
h1{
    text-align: center;
}
.check_img_div{
    display: inline-block;
    width: 120px;
}

@media screen and (min-width: 360px) and (max-width: 500px) {
    #wrap {
        display: table;
        height: 100%;
        text-align: center;
        margin: 0 auto;
    }

    #content {
        height: 100%;
        display: table-cell;
        vertical-align: middle;
    }


    #signup_text {
        cursor: pointer;
    }

    #padding_val{
       height: 30px;
    }
}

@media screen and (min-width: 500px) and (max-width: 800px) {
    #wrap {
        display: table;
        height: 100%;
        text-align: center;
        margin: 0 auto;
    }

    #content {
        height: 100%;
        display: table-cell;
        vertical-align: middle;
    }

    #first_div {
        width: 400px;
    }

    #hr {
        width: 80%;
        margin-bottom: 10px;
    }

}

@media screen and (min-width: 800px) and (max-width : 1200px) {
    #wrap {
        display: table;
        height: 100%;
        text-align: center;
        margin: 0 auto;
    }

    #content {
        height: 100%;
        display: table-cell;
        vertical-align: middle;
    }

    #first_div {
        width: 600px;
    }
}

@media screen and (min-width: 1200px) {
    #wrap {
        display: table;
        height: 100%;
        text-align: center;
        margin: 0 auto;
    }

    #content {
        height: 100%;
        display: table-cell;
        vertical-align: middle;
    }

    #first_div {
        width: 600px;
    }
}