<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>기상청 날씨 정보 받기</title>
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {

            var press_btn = document.getElementById("city_btn");
            press_btn.onclick = function () {
                //console.log("press");
                var input = document.getElementById("city").value;
                var txt = document.getElementsByClassName("weather-ul")[0];

                txt.innerHTML = "";
                console.log(input);
                $.ajax({
                        //crossOrigin : true,
                        url: 'http://www.kma.go.kr/weather/forecast/mid-term-rss3.jsp?stnId=108',
                        dataType: 'xml',
                        success: function (response) {
                            console.log(response);
                            $(response).find('location').each(function () {
                                var city = $(this).find('city').text();
                                if (city == input) {
                                    txt.innerHTML += "<li 'font-size : 30px;'>" + city + '</li>';
                                    $(this).find('data').each(function () {
                                        var output1 = $(this).find('tmEf').text();
                                        var output2 = $(this).find('wf').text();
                                       txt.innerHTML += "<li>" + output1 + '</li>';
                                       txt.innerHTML += "<li style='color : blue;'>" + output2 + '</li>';
                                    })
                                }
                            })
                        }
                    })
            }
            // window.addEventListener('cli')

            document.querySelector('#city').onkeydown = function (e) {
                const event = e || window.event;
                if (event.keyCode == 13) {
                    var press_btn = document.getElementById("city_btn");

                    //console.log("press");
                    var input = document.getElementById("city").value;
                    var txt = document.getElementsByClassName("weather-ul")[0];
                    txt.innerHTML = "";
                    console.log(input);
                    $.ajax({
                        //crossOrigin : true,
                        url: 'http://www.kma.go.kr/weather/forecast/mid-term-rss3.jsp?stnId=108',
                        dataType: 'xml',
                        success: function (response) {
                            console.log(response);
                            $(response).find('location').each(function () {
                                var city = $(this).find('city').text();
                                if (city == input) {
                                    txt.innerHTML += "<li style='font-size : 30px;'>" + city + '</li>';
                                    $(this).find('data').each(function () {
                                        var output1 = $(this).find('tmEf').text();
                                        var output2 = $(this).find('wf').text();
                                       txt.innerHTML += "<li>" + output1 + '</li>';
                                       txt.innerHTML += "<li style='color : blue;'>" + output2 + '</li>';
                                    })
                                }
                            })
                        }
                    })

                }
            }

        })
    </script>
</head>

<body>
    <input type="text" id="city" />
    <button id="city_btn" onclick="enterkey()">찾기</button><br>
    <div id="text_area">
        <ul class="weather-ul"></ul>
    </div>
</body>

</html>