<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>기상청 날씨 정보 받기</title>
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {

            
            // window.addEventListener('cli')

            document.querySelector('#city').onkeydown = function (e) {
                const event = e || window.event;
                if (event.keyCode == 13) {
                    var press_btn = document.getElementById("city_btn");

                    //console.log("press");
                    var input = document.getElementById("city").value;
                    var txt = document.getElementsByClassName("weather-ul")[0];
                    txt.innerHTML = "";
                    //console.log(input);
                    $.ajax({
                        //crossOrigin : true,
                        url: 'http://www.kma.go.kr/weather/forecast/mid-term-rss3.jsp?stnId=108',
                        dataType: 'xml',
                        success: function (response) {
                            console.log(response);
                            $(response).find('location').each(function () {
                                var city = $(this).find('city').text();
                                console.log(city)
                                if(city == '경기도')
                                {
                                    city = '서울';
                                    console.log('경기도 -> 서울')
                                }else if(city == '강원도')
                                {
                                    city = '춘천';
                                }
                                else if(city == '충청북도')
                                {
                                    city = '청주';
                                }else if(city == '충청남도')
                                {
                                    city = '홍성';
                                }else if(city == '경상북도')
                                {
                                    city = '대구';
                                }else if(city == '경상남도')
                                {
                                    city = '부산';
                                }else if(city == '전라북도')
                                {
                                    city = '전주';
                                }else if(city == '전라남도')
                                {
                                    city = '목포';
                                }else if(city == '제주도')
                                {
                                    city = '서귀포';
                                }
                                else if (city == input) {
                                    console.log('ok')
                                }
                            })
                        }
                    })

                }
            }

        })
    </script>
</head>

<body>
    <input type="text" id="city" />
    <button id="city_btn" onclick="enterkey()">찾기</button><br>
    <div id="text_area">
        <ul class="weather-ul"></ul>
    </div>
</body>

</html>