<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    index
    <button id="logout">로그아웃</button>
    
</body>
<script>
    $("#logout").click(function(){
        alert("로그아웃 됩니다");
        $(location).attr('href','/logout');
    })
</script>
</html>