<!DOCTYPE html style="height : 100%;">
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://static.nid.naver.com/js/naveridlogin_js_sdk_2.0.0.js"
        charset="utf-8"></script>
    <title>로그인</title>
    <link rel="stylesheet" href="/css/login.css">
</head>

<body style="width : 100%; height : 100%;background-color: #efefef;">
    <div id="wrap">
        <div id="content">
            <div id="first_div">
                <img src="/images/logo.png" />
                <form id="login_form">
                    <label for="user_name">아이디</label>
                    <input type="text" id="user_name" name='user_name' placeholder="user_name" class="login_input"/>
                    <br>
                    <label for="password">비밀번호</label>
                    <input type="password" id="password" name='password' placeholder="password" class="login_input"/>
                    <br>
                    <input id="submit_btn" type='submit' value='로그인' />
                    <br />
                </form>
                <p style="cursor : pointer" id="go_signup" onClick="location.href='http://localhost:8080/signup'">회원가입
                </p>
                <div id="naverIdLogin"></div>
            </div>
        </div>
    </div>
    <a id="kakao-login"></a>
    <a href="http://developers.kakao.com/logout"></a>
    <script src="//developers.kakao.com/sdk/js/kakao.min.js"></script>
    <script type='text/javascript'>
        Kakao.init('4e669c4b74a582a0382b81be90fca4ff');
        Kakao.Auth.createLoginButton({
            container: '#kakao-login',
            success: function (authObj) {
                Kakao.API.request({
                    url: '/v1/user/me',
                    success: function (res) {
                        
                        var data ={
                            user_name : JSON.stringify(res.id),
                            password : '123'
                        }
                        console.log(data)
                        $.ajax({//user table에 정보가 있는지 없는 지 확인
                        type: "post",
                        url: "login",
                        contentType: "application/x-www-form-urlencoded; charset=UTF-8",
                        cache: false,
                        datatype: "json",
                        data: data,
                        success: function (result) {
                            if (result.result == 'good') {//네이버 로그인 성공(user테이블에 정보 있음)
                                alert("카카오로그인성공1");
                                $(window).attr('location', 'main');
                            } else {//
                                $.ajax({//첫 로그인이라 user테이블에 내용 삽입
                                    type: "post",
                                    url: "kakao_signup",
                                    contentType: "application/x-www-form-urlencoded; charset=UTF-8",
                                    cache: false,
                                    datatype: "json",
                                    data: data,
                                    success: function (result) {
                                        if (result.result == 'kakao') {
                                            alert("카카오로그인성공2");
                                            $(window).attr('location', 'main');
                                        } else {
                                            alert("kakao error1");
                                        }
                                    },
                                    error: function (error) {
                                        alert("kakao error 2");
                                    }

                                })
                            }
                        },
                        error: function (error) {
                            alert("kakao ajax error");
                        }

                    })
                    }
                });
            },
            fail: function (err) {
                alert(JSON.stringify(err));
            }
        });
    </script>
</body>
<script type="text/javascript">
    $("#login_form").submit(function (event) {
        event.preventDefault();

        const data = {
            user_name: $("#user_name").val(),
            password: $("#password").val()
        }
        //console.log(data);
        $.ajax({
            type: "post",
            url: "login",
            contentType: "application/x-www-form-urlencoded; charset=UTF-8",
            cache: false,
            datatype: "json",
            data: data,
            success: function (result) {

                if (result.result == 'good') {
                    alert("로그인성공");
                    $(window).attr('location', 'main');
                } else {
                    alert("아이디 및 비밀번호가 틀립니다");
                }
            },
            error: function (error) {
                alert("login.ejs ajax error");
            }
        });//ajax
    })//submit function

    var naverLogin = new naver.LoginWithNaverId(
        {
            clientId: "h9R6HXR2eJDOySprixai",
            clientSecret: "0MGEYrU98e",
            callbackUrl: "http://localhost:8080/navercallback.html",
            isPopup: false,
            loginButton: { color: "green", type: 3, height: 60 }
        }
    );

    naverLogin.init();
</script>

</html>