<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/mypage.css">
    <link rel="stylesheet" href="/css/planchart.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <style>
        .select-all-option {
            text-align: center;
            height: 80px;
            line-height: 80px;
        }

        .select-location,
        .select-small-location {
            height: 30px;
            margin: 20px 0px 20px 10px;
        }

        label {
            width: 50px;
            height: 50px;
            text-align: center;
            font-size: 20px;
            border: 2px;
            border-radius: 5px;
            cursor: pointer;
        }

        .list-option-ul {
            display: inline-flex;
            padding: 0;
            margin: 0;
        }

        .option-list {
            margin-left: 15px;
            float: left;
            list-style: none;
            cursor: pointer;
            color: #595959;
        }

        .share-plan-ul {
            padding: 0;
            margin: 0 auto;
            max-width: 1000px;
        }

        .share-plan-ul::after {
            content: '';
            clear: both;
            display: block;
        }

        .more-btn {
            margin-left: 15%;
            width: 70%;
            height: 40px;
            background-color: #4c80f1;
            color: white;
            border: none;
            color: white;
            border-radius: 3px;
            font-size: 15px;
        }

        .more-btn-wrap {
            background-color: #efefef;
            margin: 0 auto;
            max-width: 1000px;
            padding: 30px 0;
        }

        .share-plan-container {
            background-color: #efefef;
        }

        .standard {
            color: #4c80f1;
        }

        .heart-img {
            display: none;
        }

        .heart-wrap {
            display: inline-block;
        }
    </style>
</head>
<span id="user_name" style="display : none;"><%= login_user %></span>

<body>
    <div class="header">
        <a href="/main">
            <img src="/images/logo.png" alt="트립 프랜드 로고" class="logo-img">
        </a>
        <ul class="nav">
            <li class="nav-list"><a class="nav-link" href="/mypage">마이페이지</a></li>
            <li class="nav-list"><a class="nav-link" href="/api/shareplan">공유계획</a></li>
            <li class="nav-list"><a class="nav-link" href="/logout">로그아웃</a></li>
        </ul>
    </div>
    <img class="trip-location" src="/images/share.png" width="100%" height="auto" />
    <div class="share-plan-container">
        <div class="select-all-option">
            <label for="">지역선택</label>
            <select name="select_big_location" class="select-location">
                <option value="0">전체</option>
                <option value="1">서울</option>
                <option value="2">인천</option>
                <option value="3">대전</option>
                <option value="4">대구</option>
                <option value="5">광주</option>
                <option value="6">부산</option>
                <option value="7">울산</option>
                <option value="31">경기도</option>
                <option value="32">강원도</option>
                <option value="33">충청북도</option>
                <option value="34">충청남도</option>
                <option value="35">경상북도</option>
                <option value="36">경상남도</option>
                <option value="37">전라북도</option>
                <option value="38">전라남도</option>
                <option value="39">제주도</option>
            </select>
            <select name="select_small_location" class="select-small-location">
                <option>선택하세요</option>
            </select>
            <ul class="list-option-ul">
                <li class="option-list standard" data-name="good">좋아요 순</li>
                <li class="option-list" data-name="start_day">최신 순</li>
            </ul>
        </div>
        <div class="plan-wrap">
            <ul class="share-plan-ul"></ul>
        </div>
        <div class="more-btn-wrap">
            <button class="more-btn" data-count=6>더보기</button>
        </div>
    </div>
    <div class="footer">
        <div class="copy-rights">
            © 2019 2H&A. All rights reserved.
        </div>
    </div>

    <div class="detail-plan-container">
        <div class="detail-plan-wrap">
            <div class="detail-plan-verti-div">
                <div class="plan-container" id="plan-modal-container"></div>
            </div>
        </div>
    </div>

    <script type="template-one-plan" class="template-one-plan">
        <li class="plan-list" data-planId={planId} data-totalday={totalDay}>
            <div class="sample-img"></div>
            <div class="plan-content-wrap">
                <span>{bigCity} {smallCity}</span>
                <h3>{planTitle}</h3>
                <p>일정 : {startDay} ~ {finishDay}</p>
                <div class="heart-wrap">
                    <img src="/images/heart.png" alt="하트 이미지" class="heart-img heart">
                    <img src="/images/noheart.png" alt="하트 이미지" class="noheart-img heart">
                    <span class="good-count">{good}</span>
                </div>

            </div>
        </li>
    </script>
    <script type="template-day" class="template-day">
                <div class="plan-day">
                        <div class="day-count">{day}Day</div>
                        <div class="plan-day-wrap">
                        </div>
                    </div>
        </script>

    <script type="template-tour" class="template-tour">
            <div class="one-plan">
                    <span></span>
                    <div class="time">
                        <input name="startTime" value="{startTime}" readonly class="start-time" />
                        <span> - </span>
                        <input name="finishTime" value="{finishTime}" readonly class="finish-time" />
                    </div>
                    <div class="detail-plan">
                            <input id="tour-input" name="planContent" value='{planContent}' readonly class="plan-content" />
                    </div>
                </div>
    </script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

    <script>
        const typeImg = "<img src='/images/tour{typeId}.png' class='type-img'>";
        let smallCity;
        let bigCityVal = 0;
        const moreBtn = document.querySelector('.more-btn');
        let flag = false;
        let sharePlanUl = document.querySelector('.share-plan-ul');
        const smallLocation = document.querySelector('.select-small-location');
        const templatePlanHtml = document.querySelector('.template-one-plan').innerHTML;
        function getAllPlan(order, count) {
            let url = 'api/getAllLocation?order=' + order + "&count=" + count;
            const shareHttp = new XMLHttpRequest();
            shareHttp.addEventListener("load", function (result) {
                const data = JSON.parse(shareHttp.responseText);
                moreBtn.dataset.length = data.length[0].length;
                let newTemplateHtml = "";

                if (moreBtn.dataset.count >= data.length[0].length)
                    moreBtn.style.display = 'none';
                else {
                    moreBtn.style.display = 'block';
                }
                data.result.forEach(function (e) {
                    newTemplateHtml += templatePlanHtml.replace('{planId}', e.plan_id)
                        .replace('{startDay}', e.start_day)
                        .replace('{finishDay}', e.finish_day)
                        .replace('{planTitle}', e.plan_title)
                        .replace('{good}', e.good)
                        .replace('{bigCity}', e.big_city)
                        .replace('{smallCity}', e.small_city)
                        .replace('{totalDay}', e.total_day);
                })
                if (!flag) sharePlanUl.innerHTML = newTemplateHtml;
                else sharePlanUl.innerHTML += newTemplateHtml;
                flag = false;
                const planList = document.querySelectorAll('.plan-list');
                planList.forEach(function (e) {
                    e.addEventListener('click', function (v) {
                        if (!v.target.classList.contains('heart-wrap') && !v.target.classList.contains('heart')) {
                            getPlanInfo(e, v);
                        } else {
                            var user_name = document.getElementById("user_name").innerHTML;
                            var plan_Id = e.dataset.planid;
                            console.log(e.dataset.planid+'ㄴㅇ');
                            const data = {
                                user_name: user_name,
                                plan_Id : plan_Id
                            }
                            console.log(data);
                            $.ajax({
                                type: "post",
                                url: "like_table",
                                contentType: "application/x-www-form-urlencoded; charset=UTF-8",
                                cache: false,
                                datatype: "json",
                                data: data,
                                success: function (result) {

                                    if (result.result == 'count1') {
                                       alert("좋아요 누름");
                                       location.reload();
                                    } else {
                                        alert("좋아요 취소");
                                        location.reload();
                                    }
                                },
                                error: function (error) {
                                    alert("error");
                                }
                            });//ajax
                            ////하트 로직
                        }
                    });
                });
            });
            shareHttp.open('get', url);
            shareHttp.send();
        }
        getAllPlan(document.querySelector('.standard').dataset.name, 0);

        const selectLoction = document.querySelector('.select-location');
        selectLoction.addEventListener('change', function () {
            if (Number(this.value) === 0) {
                flag = false;
                const order = document.querySelector('.standard').dataset.name;
                smallLocation.innerHTML = "<option>선택하세요</option>";
                moreBtn.dataset.count = 6;
                getAllPlan(order, 0);
            }
            else {
                flag = false;
                url = "http://api.visitkorea.or.kr/openapi/service/rest/KorService/areaCode?ServiceKey=RjJLwUTtegMNM%2Barsc%2BPwTW3xU4RZiJFAelIy54Z6sGrJuW36IQthQdAOLg1ZhdXbDD6H1EiuBs2IiOpL3umlQ%3D%3D&areaCode=" + this.value + "&numOfRows=100&pageNo=1&MobileOS=ETC&MobileApp=AppTest";
                $.ajax({
                    url: url,
                    dataType: "json",
                    success: function (result) {
                        moreBtn.dataset.count = 6;
                        smallLocation.innerHTML = "";
                        smallLocation.innerHTML = "<option>선택하세요</option>";
                        $.each(result.response.body.items.item, function (i, d) {
                            smallLocation.innerHTML += '<option value =' + d.code + ">" + d.name + "</option>";
                        });
                    }
                });
            }
        })

        function getOneLocation(smallCity, order, count) {
            url = '/api/getOneLocation?smallCity=' + smallCity + "&order=" + order + "&count=" + count;
            const smallCityHttp = new XMLHttpRequest();
            smallCityHttp.addEventListener("load", function (result) {
                const data = JSON.parse(smallCityHttp.responseText);
                if (data.result.length === 0) {
                    alert('해당 지역에 계획이 없습니다.');
                    location.reload();
                } else {
                    if (data.length <= 6)
                        moreBtn.style.display = 'none';
                    if (data.length[0].length > 6) {
                        moreBtn.style.display = 'block';
                    } else {
                        moreBtn.style.display = 'none';
                    }
                    moreBtn.dataset.length = data.length[0].length;
                    let newTemplateHtml = "";
                    data.result.forEach(function (e) {
                        newTemplateHtml += templatePlanHtml.replace('{planId}', e.plan_id)
                            .replace('{startDay}', e.start_day)
                            .replace('{finishDay}', e.finish_day)
                            .replace('{bigCity}', e.big_city)
                            .replace('{planTitle}', e.plan_title)
                            .replace('{good}', e.good)
                            .replace('{smallCity}', e.small_city)
                            .replace('{totalDay}', e.total_day);
                    })
                    if (!flag) sharePlanUl.innerHTML = newTemplateHtml;
                    else sharePlanUl.innerHTML += newTemplateHtml;
                    flag = false;
                    moreBtn.dataset.count = 6;
                }
                const planList = document.querySelectorAll('.plan-list');
                planList.forEach(function (e) {
                    e.addEventListener('click', function (v) {
                        if (!v.target.classList.contains('heart-wrap') && !v.target.classList.contains('heart')) {
                            getPlanInfo(e, v);
                        } else {
                            ////하트 로직

                        }
                    });
                });
            });
            smallCityHttp.open('get', url);
            smallCityHttp.send();

        }

        smallLocation.addEventListener('change', function (e) {
            const order = document.querySelector('.standard').dataset.name;
            smallCity = this.options[this.selectedIndex].text;
            flag = false;
            getOneLocation(smallCity, order, 0);
        });

        const optionList = document.querySelectorAll('.option-list');
        optionList.forEach(function (e) {
            e.addEventListener('click', function () {
                optionList.forEach(function (v) {
                    v.classList.remove('standard');
                })
                e.classList.add('standard');
                const order = e.dataset.name;
                if (Number(selectLoction.value) === 0) {
                    moreBtn.dataset.count = 6;
                    smallLocation.innerHTML = "<option>선택하세요</option>";
                    flag = false;
                    getAllPlan(order, 0);
                }
                else {
                    moreBtn.dataset.count = 6;
                    smallCity = smallLocation.options[smallLocation.selectedIndex].text;
                    flag = false;
                    getOneLocation(smallCity, order, 0);

                }
            })
        })
        moreBtn.addEventListener('click', function (e) {
            const currCount = Number(this.dataset.count);
            const order = document.querySelector('.standard').dataset.name;
            if (Number(selectLoction.value) === 0) {
                flag = true;
                smallLocation.innerHTML = "<option>선택하세요</option>";
                getAllPlan(order, currCount);
                this.dataset.count = currCount + 6;

            }
            else {
                flag = true;
                getOneLocation(smallCity, order, currCount);
                this.dataset.count = currCount + 6;
            }
        })


        function getPlanInfo(e, v) {
            const planContainer = document.querySelector('.plan-container');
            planContainer.innerHTML = "";
            document.querySelector('.detail-plan-container').style.display = "block";
            const planId = e.dataset.planid;
            const totalDay = e.dataset.totalday;
            const templateHtml = document.querySelector('.template-day').innerHTML;
            for (let i = 0; i < totalDay; i++) {
                const newTemplateHtml = templateHtml.replace('{day}', i + 1);
                planContainer.innerHTML += newTemplateHtml;
            }
            const url = "/getPlan?planId=" + planId;
            planHttp = new XMLHttpRequest();
            planHttp.addEventListener("load", function (result) {
                const data = JSON.parse(planHttp.responseText);
                data.result.forEach(function (e) {
                    console.log(e);
                    const dayWrap = document.getElementsByClassName('plan-day-wrap')[e.day - 1];
                    let onePlan = document.querySelector('.template-tour').innerHTML;
                    let newTemplateHtml = onePlan.replace('{startTime}', e.start_time)
                        .replace('{finishTime}', e.finish_time)
                        .replace('{planContent}', e.plan_content);
                    if (e.tour_flag !== 0) {
                        newTemplateHtml = newTemplateHtml.replace('<span></span>', typeImg)
                            .replace('{typeId}', e.tour_flag)
                    }
                    dayWrap.innerHTML += newTemplateHtml;
                })
            })
            planHttp.open("GET", url);
            planHttp.send();
        }
        const detailPlanContainer = document.querySelector('.detail-plan-container');
        detailPlanContainer.addEventListener('click', function (e) {
            if (e.target.className === 'detail-plan-verti-div')
                this.style.display = 'none';
        });



    </script>
</body>

</html>