<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/mypage.css">
    <link rel="stylesheet" href="/css/planchart.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/share.css">
</head>
<span id="user_name" style="display : none;"><%= login_user %></span>

<body>
    <div class="header">
        <a href="/main">
            <img src="/images/logo.png" alt="트립 프랜드 로고" class="logo-img">
        </a>
        <ul class="nav">
            <li class="nav-list"><a class="nav-link" href="/mypage">마이페이지</a></li>
            <li class="nav-list"><a class="nav-link" href="/shareplan">공유계획</a></li>
            <li class="nav-list"><a class="nav-link" href="/logout">로그아웃</a></li>
        </ul>
        <img src="/images/hambuger.png" class="menu-btn" alt="메뉴 아이콘">
    </div>
    <div class="nav-m-wrap">
        <ul class="nav-m">
            <li class="nav-list-m"><a class="nav-link-m" href="/mypage">마이페이지</a></li>
            <li class="nav-list-m"><a class="nav-link-m" href="/shareplan">공유계획</a></li>
            <li class="nav-list-m"><a class="nav-link-m" href="/logout">로그아웃</a></li>
        </ul>
    </div>
    <img class="trip-location" src="/images/share.png" width="100%" height="auto" />
    <div class="share-plan-container">
        <div class="select-all-option">
            <label for="">지역선택</label>
            <select name="select_big_location" class="select-location">
                <option value="0">전체</option>
                <option value="1">서울</option>
                <option value="2">인천</option>
                <option value="3">대전</option>
                <option value="4">대구</option>
                <option value="5">광주</option>
                <option value="6">부산</option>
                <option value="7">울산</option>
                <option value="31">경기도</option>
                <option value="32">강원도</option>
                <option value="33">충청북도</option>
                <option value="34">충청남도</option>
                <option value="35">경상북도</option>
                <option value="36">경상남도</option>
                <option value="37">전라북도</option>
                <option value="38">전라남도</option>
                <option value="39">제주도</option>
            </select>
            <select name="select_small_location" class="select-small-location">
                <option>선택하세요</option>
            </select>
            <ul class="list-option-ul">
                <li class="option-list standard" data-name="good">좋아요 순</li>
                <li class="option-list" data-name="start_day">최신 순</li>
            </ul>
        </div>
        <div class="plan-wrap">
            <ul class="share-plan-ul"></ul>
        </div>
        <div class="more-btn-wrap">
            <button class="more-btn" data-count=6>더보기</button>
        </div>
    </div>
    <div class="footer">
        <div class="copy-rights">
            © 2019 2H&A. All rights reserved.
        </div>
    </div>

    <div class="detail-plan-container">
        <div class="detail-plan-wrap">
            <div class="detail-plan-verti-div">
                <div class="plan-container" id="plan-modal-container"></div>
            </div>
        </div>
    </div>

    <script type="template-one-plan" class="template-one-plan">
        <li class="plan-list" data-planId={planId} data-totalday={totalDay}>
            <div class="sample-img"></div>
            <div class="plan-content-wrap">
                <span>{bigCity} {smallCity}</span>
                <h3>{planTitle}</h3>
                <p>일정 : {startDay} ~ {finishDay}</p>
                <div class="heart-wrap">
                    <img src="/images/heart.png" alt="하트 이미지" class="heart-img heart" id="on_heart_img">
                    <img src="/images/noheart.png" alt="하트 이미지" class="noheart-img heart" id="off_heart_img">
                    <span class="good-count">{good}</span>
                </div>

            </div>
        </li>
    </script>
    <script type="template-day" class="template-day">
                <div class="plan-day">
                        <div class="day-count">{day}Day</div>
                        <div class="plan-day-wrap">
                        </div>
                    </div>
        </script>

    <script type="template-tour" class="template-tour">
            <div class="one-plan">
                    <span></span>
                    <div class="time">
                        <input name="startTime" value="{startTime}" readonly class="start-time" />
                        <span> - </span>
                        <input name="finishTime" value="{finishTime}" readonly class="finish-time" />
                    </div>
                    <div class="detail-plan">
                            <input id="tour-input" name="planContent" value='{planContent}' readonly class="plan-content" />
                    </div>
                </div>
    </script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="/js/nav.js"></script>
    <script src="/js/share.js"></script>
</body>

</html>